* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.cards {
  align-content: space-between;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-around;
  margin: auto;
  gap: 20px;
  width: 40%;
  height: auto;
  padding-top: 20px;

}
.background {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
.down-part-lorem {
  color: #272623;
  transform: translate(-3px, 143px);
  font-size: 12px;
}
/* .down-part-website{
  font-weight: 800;
} */
.company-name-design {
  color: #e9e9e9;
  text-align: left;
  letter-spacing: 2px;
  max-width: 300px;
  overflow: hidden;
}


.company-name-slogan {
  color: orange;
  font-size: 7px;
  letter-spacing: 4px;
  margin-top: 4px;
}
.icon-group {
  color: orange;
  font-size: 12px;
  padding-right: 5px;
}
.fa-location1:before {
  display: none;
}
.fa-phone1:before {
  display: none;
}
.fa-envelope1:before {
  display: none;
}
.fa-arrow-pointer1:before {
  display: none;
}

.icon-information1 {
  font-size: 10px;
  text-align: left;
}

.icon-information1 > div > div {
  padding: 0px;
}

.second-card {
  background-size: cover;
  width: 400px;
  height: 230px;
  margin: auto;
  box-shadow: 1px 4px 9px;
  /* display: flex; */
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 10px;
  /* border-radius: 15px; */
}
.information-box {
  display: flex;
  transform: translate(10px, -110px);
  /* height: 115px; */
}
.company-name3 {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #e9e9e9;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
}

.occupation {
  color: orange;
  font-size: 14px;
  font-weight: 600;
  padding-top: 5px;
}

.first-card {
  background-size: cover;
  width: 400px;
  height: 230px;
  box-shadow: 1px 4px 9px;
  /* border-radius: 15px; */
  margin: auto;
}
.first-card-design {
  display: flex;
  justify-content: center;
  width: 323px;
  margin: auto;
  height: 70px;
  align-items: center;
  transform: translate(0px, -208px);

}
.firstCardLogo {
  width: 50px;
  height: auto;
}
.item-text {
  font-weight: 800;

}
.card-holder-name1 {
  display: inline-block;
  margin-right: 8px;
  
}

.span-text {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}
.card-first-card-logo-box {
  width: 70px;
  /* text-align: right; */
}

.lorem {
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  /* margin-top: 130px;
  margin-right: 18px; */
  transform: translate(-20px, -102px);
}
.first-card-blog{
  height: 230px;
}
.second-card-blog{
  height: 230px;
}
.cardHolderNameBox{
  transform: translate(210px, -153px);
  width: 200px;

}

.company-name-line{
  display: block;
  white-space: nowrap;
  overflow: hidden;
  /* text-align: left; */
}
  .company-name-line1{
  
    white-space: nowrap;
    overflow: hidden;
  
 
}
.company-name-cc{
  flex-direction: column;
}