* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.visaPageBox {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../Form/cardExample.png") !important;
  background-size: cover;
  width: 100%;
  height: 750px;
}

.left-box {
  width: 100%;
  text-align: center;
  border: 1px solid #7794df;
  box-shadow: 1px 9px 34px -10px;
  z-index: 3;
  border-radius: 20px;

  height: 600px;
}
.right-box {
  background-color: transparent;
  width: 100%;
  text-align: center;
}
.left-header {
  margin-top: 20px;
}
.right-header {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.template-button-box {
  display: flex;
  justify-content: center;
  margin: auto;
}
.templateBox {
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.css-yjsfm1 {
  display: none !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 1px !important;
  margin: 0px !important;
}
.css-1duy1hk .MuiTextField-root {
  margin: 3px !important;
}
@media (min-width: 1536px) {
  .css-1qji5zp-MuiGrid-root {
    max-width: 30% !important;
    z-index: 3;
    margin-top: 20px;
  }
}
